{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
    <title>Articles</title>
    <div class="max-w-5xl mx-auto px-6 py-12">
        <h2 class="text-3xl font-semibold text-center text-indigo-600 mb-8">Mes Articles</h2>

        <section class="articles_list">
            {% if blog_article %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    {% for blog in blog_article %}
                        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                            <!-- Titre de l'article -->
                            <h3 class="text-xl font-semibold text-indigo-600 p-4">{{ blog.title }}</h3>

                            <!-- Contenu de l'article -->
                            <p class="px-4 pb-4 text-gray-700">{{ blog.content|safe }}</p>
                            <p class="px-4 pb-4 text-gray-700">{{ blog.date_published }}</p>

                            <!-- Image de l'article -->
                            {% if blog.image_blog %}
                                <img class="w-full h-48 object-cover" src="{{ blog.image_blog }}" alt="Image du blog">
                            {% else %}
                                <img class="w-full h-48 object-cover" src="{% static 'images/ml.png' %}" alt="Image par défaut">
                            {% endif %}

                            <!-- Lien vers l'article complet -->
                            <div class="p-4">
                                {% if blog.url_blog %}
                                    <p class="text-gray-600 text-sm">Pour lire l'intégralité de l'article, veuillez consulter :</p>
                                    <a href="{{ blog.url_blog }}" class="text-indigo-500 hover:text-indigo-400 font-semibold">Lire plus</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-gray-500">Aucun article ou blog disponible.</p>
            {% endif %}
        </section>
    </div>
{% endblock content %}
