{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

    <title>My Skills</title>

    <div class="skills-card">
        <h2>Mes Compétences</h2>
        {% for skill in skills %}
        <li>{{ skill.category }} : {{skill.skills_name}}</li>
        <p>Expérience avec les modèles supervisés et non-supervisés en utilisant des libraires scikit-learn,
            Tensorflow/Keras, Pythorch avec {{ skill.level}} % .
        </p>
        {% endfor %}
    </div>
{% endblock content %}